@use '../../app.component.scss' as *;

//GLobales
.container_nav {
	background-color: #343A40;
}

//truncate


//Mobile medium
.container_nav {
	.container_nav--first {
		@include responsive-to('m-md') {
			width: 75%;
		}
	}

	.container_nav--second {
		@include responsive-to('m-md') {
			width: 25%;
		}
	}
}



//>>Desktop
.container_nav {

	.container_nav--first {
		@include responsive-to('sm') {
			width: 60%;
		}

		.nav_first--search {
			@include responsive-to('lg') {
				width: 30%;
			}
		}
	}


	.container_nav--second {
		width: 40%;

		.nav_second--btn {
			@include responsive-to('sm') {
				flex-direction: row;
			}

			.nav_second--btnChild {
				@include responsive-to('sm') {
					padding: 0.4rem 1rem;
					gap: .5rem;
					p {
						font-size: 0.7rem;
					}

					img {
						width: 20px;
					}
				}
			}
		}
	}

}