<nav class="container_nav
	w-full h-[70px]
	flex
	ps-4 pe-4
">
	<div class="container_nav--first
		h-full w-[45%]
		flex gap-5 items-center
	">
		<div class="nav_firstTitle text-[1.5rem]
		 text-white font-bold leading-tight
		 flex flex-col
		">
			<span>Simple</span><span>Notes</span>
		</div>

		<div class="nav_firstSearch-m-sm-md
			px-2 py-2
			bg-white
			rounded-lg
		">
			<img class="w-[25px] cursor-pointer" src="assets/img/navbar/search-icon.png" alt="">
		</div>
		<form class="nav_firstSearch-sm-xl">
			<p class="text-white">Holaaaa</p>
		</form>

	</div>


	<div class="container_nav--second
		h-full w-[55%]
		flex gap-3 items-center justify-end
	">
		<div class="nav_secondBtn
			flex gap-2
		">
			<div class="nav_secondBtn-child
				cursor-pointer
				bg-white
				py-[.350rem] px-2
				rounded-lg
				flex gap-1.5 justify-center
			">
				<p class="text-[.7rem] font-bold">Open</p>
				<img src="assets/img/navbar/open-folder.png"
					class="w-[15px] h-[15px]"
				alt="">
			</div>

			<div class="nav_secondBtn-child
				cursor-pointer
				bg-white
				py-[.350rem] px-2
				rounded-lg
				flex gap-1.5 justify-center
			">
				<p class="text-[.7rem] font-bold">New</p>
				<img src="assets/img/navbar/add-plus.png"
					class="w-[15px] h-[15px]"
				alt="">
			</div>
		</div>
		<div class="nav_secondProfile">
			<img class="w-[40px]" src="assets/img/navbar/account.png"	alt="">
		</div>
	</div>
</nav>
