<nav class="container_nav
	w-full h-[70px]
	flex
	ps-4 pe-4
">
	<div class="container_nav--first
		pe-2
		h-full w-[45%]
		flex gap-3 items-center
	">
		<div class="nav_firstTitle text-[1.5rem]
		 text-white font-bold leading-tight
		 flex flex-col
		">
			<span>Simple</span><span>Notes</span>
		</div>
		<div
			(click)="openModalSearch()"
			class="nav_firstSearch-m-sm-md
			px-2 py-2
			bg-white
			rounded-lg
		">
			<img class="w-[25px] cursor-pointer" src="assets/img/navbar/search-icon.png" alt="">
		</div>
		<form class="nav_firstSearch-sm-xl
			ps-1 pe-2
			h-[45%]
			flex items-center gap-2
			rounded-sm
			bg-white
			border border-transparent
			focus-within:border-blue-500
			focus-within:ring-[.8]
			focus-within:ring-blue-500
			transition-all
		">
			<img class="w-[25px] h-[25px] cursor-pointer" src="assets/img/navbar/search-icon.png" alt="">
			<input type="search" placeholder="Search notes..." class="
				navbar_search
				w-full h-full text-[.8rem]
				border-none
				outline-none
				bg-transparent
				focus:ring-0
				focus:border-none
			">
		</form>

	</div>


	<div class="container_nav--second
		h-full w-[55%]
		flex gap-3 items-center justify-end
	">
		<div class="nav_secondBtn
			flex gap-2
		">
			<div 
				(click)="fileInput.click()"
				class="nav_secondBtn-child
				cursor-pointer
				bg-white
				py-[.350rem] px-2
				rounded-lg
				flex gap-1.5 justify-center
			">
				<p class="text-[.7rem] font-bold">Open</p>
				<img src="assets/img/navbar/open-folder.png"
					class="w-[15px] h-[15px]"
				alt="">
				<input #fileInput (change)="onFileSelected($event)" type="file" accept=".json" class="hidden">
			</div>

			<div 
				(click)="openModalNewProject()"
				class="nav_secondBtn-child
				cursor-pointer
				bg-white
				py-[.350rem] px-2
				rounded-lg
				flex gap-1.5 justify-center
			">
				<p class="text-[.7rem] font-bold">New</p>
				<img src="assets/img/navbar/add-plus.png"
					class="w-[15px] h-[15px]"
				alt="">
			</div>
		</div>
		<div class="nav_secondProfile">
			<img class="w-[40px]" src="assets/img/navbar/account.png"	alt="">
		</div>
	</div>
</nav>
