@use '../../app.component.scss' as *;

//GLobales
.container_nav {
	background-color: #343A40;
}

.container_nav--first {
	border-left: 1px solid white;
}

.container_nav--second {
	border-left: 1px solid white;
	border-right: 1px solid white;
}



//Base apagado
.nav_firstSearch-sm-xl {
	display: none;
}

//Encendido

.container_nav--first {

	@include responsive-to('sm') {
		.nav_firstTitle{
			font-size: 2rem;
			flex-direction: row;
			gap: .3rem;
		}

		.nav_firstSearch-m-sm-md{
			display: none;
		}
		.nav_firstSearch-sm-xl {
			display: flex;


		}
	}

}