<!-- Main modal -->
<div #divPrincipal [ngClass]="{ 'newProjectActive': modal_editProjectVisible == true }" id="crud-modal" tabindex="-1" class="newProjectHidden fixed inset-0 z-50 flex h-screen w-full items-center justify-center overflow-y-auto overflow-x-hidden">
  <div class="relative max-h-full w-full max-w-md p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow">
      <!-- Modal header -->

      <!-- Modal body -->
      <form [formGroup]="editProjectForm" (ngSubmit)="onSubmit()" class="p-4 md:p-5">
        <div class="flex items-center justify-between rounded-t border-b p-4 md:p-4 mb-7">
          <input formControlName="title" 
          class="
            text-lg font-semibold text-gray-900
            border-none
            outline-none
            bg-transparent
            focus:ring-0
            focus:border-none" 
          value="XD" />
          <button (click)="closeModal_editProject()" type="button" class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900" data-modal-toggle="crud-modal">
            <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4">
          <div class="col-span-2">
            <label for="description" class="mb-2 block text-sm font-medium text-gray-900">Description</label>
            <textarea formControlName="description" id="description" rows="4" class="block h-[150px] max-h-[200px] min-h-[150px] w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500">Content</textarea>
          </div>
        </div>
        <button type="submit" class="mx-auto flex items-center rounded-lg bg-blue-700 px-7 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300">Save</button>
      </form>
    </div>
  </div>
</div>