<div class="containerFunction_itemProject">
  <div class="popover_info">
    <div (click)="onClick($event)" class="icon-popover">
      <img src="assets/img/icon/icon-popover/icon-incognit.svg" alt="icon popover" />
    </div>
    <div class="popover_info--content">
      <div class="popover_info--text">
        <h3>{{titleProject}}</h3>
        <p>{{descriptionProject}}</p>
      </div>
    </div>
  </div>

  <div class="popover_edit">
    <div (click)="onClick($event)" class="icon-edit">
      <img src="assets/img/icon/icon-popover/icon-edit.svg" alt="edit icon" />
    </div>
    <div class="popover_edit--content">
      <p>edit</p>
    </div>
  </div>
</div>


