<div class="container_card
	flex items-center gap-1
	w-full h-[2.5rem]
	overflow-hidden
	pe-1
	">
	<div class="card_body
		flex
		w-[85%] h-full
		pe-3
		cursor-pointer
		bg-white
		rounded-xl           
		rounded-l-none
		border border-black      
	">
		<div class="card_body--color
			bg-gradient-to-r from-cyan-500 to-blue-500
			w-[13px] h-full
			
		"></div>
		<div class="card_body--separator
			w-[2.5px] h-[90%]
			my-auto mx-2
			rounded-[1rem]
			bg-gray-300
		"></div>
		<div class="card_body--content
			w-full h-full
			flex
			justify-between

		">
			<p class="
				w-[70%]
				my-auto
				text-gray-400
				font-semibold
				text-[.8rem]
				leading-tight
			">Nueva tarea del proyecto Done.</p>

			<div class="card_body_content--icon
				w-[30%]
				flex
				items-center
				justify-end
			">
				<img  src="assets\img\icon\icon-card\icon-cardTodo\letter.png" alt="">
				<img  src="assets\img\icon\icon-card\icon-cardTodo\checklist.png" alt="">
			</div>
		</div>
	</div>
	<div 
		(click)="openToastDel()"
		class="card_function
		w-[15%]
		">
		<img class="
			cursor-pointer
			w-[38px]
			h-[38px]
			mx-auto
			transition duration-300 ease-in-out transform 
			hover:scale-105  
			focus:scale-105
			" src="assets\img\btn\btn-delete.png" alt="next">
	</div>
</div>