//!Mobile Design

//Icono
.card_body_content--icon{
	img{
		width:  30px;
		height: 30px;
	}
} 


//borde-card
.card_body--color{
	border-right: .5px solid black;
}

//color card
.card_body--color{
	background-color: #42ed61;
}

//!