<div *ngIf="task" class="container_card
	flex flex-col gap-1 items-center
	w-full h-[4rem]
	pe-1
	">

	<div class="container_card--after
		flex gap-1
		h-full w-full
	">
		<div class="card_function
			w-[15%]

		">
			<img class="
				cursor-pointer
				w-[38px]
				h-[38px]
				mx-auto
				transition duration-300 ease-in-out transform 
				hover:scale-105  
				focus:scale-105
				" src="assets\img\btn\btn_doing.png" alt="back">
		</div>
	
		<div 
			(click)="openModalViewTask()"
			class="card_body
			flex
			w-[85%] h-[100%]
			pe-3
			cursor-pointer
			bg-white
			rounded-xl           
			rounded-l-none
			border border-black      
		">
			<div class="card_body--color
				w-[13px] h-full
				bg-person-green
			"></div>
			<div class="card_body--separator
				w-[2.5px] h-[90%]
				my-auto mx-2
				rounded-[1rem]
				bg-gray-300
			"></div>
			<div class="card_body--content
				w-full h-full
				flex
				justify-between
	
			">
				<p class="
					w-[70%]
					my-auto
					text-gray-400
					font-semibold
					text-[.8rem]
					leading-tight
				">
				{{task.name}}
				</p>
	
				<div class="card_body_content--icon
					w-[30%]
					flex
					items-center
					justify-end
				">
					<img  src="assets\img\icon\icon-card\icon-cardTodo\letter.png" alt="">
					<img  src="assets\img\icon\icon-card\icon-cardTodo\checklist.png" alt="">
				</div>
			</div>
		</div>

	</div>
	<div
		(click)="finish()"
		 type="button" class="cursor-pointer text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-medium rounded-sm text-[.7rem] w-[60%] py-[.1rem] text-center 
		">
			Finish
	</div>

</div>