<div class="container_projectMenu
	ps-2 pe-2
	bg-white
">

	<div class="split_selectProject">

		<div class="split_selectProject--body" (click)="toggleSelectedProject()">
			<p class="btn_selectProject">{{nameItemSelected}}</p><span class="ml-1 text-[.8rem] text-white">id: {{idItemSelected}}</span>
			<img class="icon_selectProject" src="assets\img\icon\icon-menu-project\chevron down.svg">
		</div>

		<ul class="project_content" [ngClass]="{'project_content--active': isSelected}">
			@for (item of projects; track $index) {
				<li class="project_content--li" (click)="itemProjectSelected(item.title, item.id)">
					<p>{{item.title}}</p>
					<popover-info-project [titleProject]="item.title" [descriptionProject]="item.description" />
				</li>
			}
		</ul>

	</div>

	<div class="export_projectTo">
		<div class="btn_export" (click)="toggleSelectedExport()">
			<p>Export</p>
			<img class="icon_selectProject" src="assets\img\icon\icon-menu-project\export.png" alt="">
		</div>

		<ul class="content_optionsProject" [ngClass]="{'content_optionsProject--activate':isSelectedExport}">
			<li (click)="selectExportText()">
				export to text
			</li>
			<li (click)="selectExportJson()">
				export to json</li>
			</ul>
		
	</div>

</div>