@use '../../app.component.scss' as *;

//! MOBILE BASE

.container_state{
	background-color: #343A40;
}


//!Contenido Responsive.

.container_state {
	@include responsive-to('lg'){
		height: 400px;
	}
	@include responsive-to('xl'){
		height: 450px;
	}
}

.grid_container--state{
	@include no-select;
  
	//!MD
  @include responsive-to('md'){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto ;
		gap: 10px;
  }

	.item1{
		@include responsive-to('md'){
			grid-column: 1;
			grid-row: 1;
		}
	}
	.item2{
		@include responsive-to('md'){
			grid-column: 2;
			grid-row: 1;
		}
	}
	.item3{
		@include responsive-to('md'){
			grid-column: 1 / span 2;
			grid-row: 2;
		}
	}

	//!LG
  @include responsive-to('lg'){
		width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		gap: 10px;
  }

	.item1{
		@include responsive-to('lg'){
			grid-column: 1;
			grid-row: 1;
		}
	}
	.item2{
		@include responsive-to('lg'){
			grid-column: 2;
			grid-row: 1;
		}
	}
	.item3{
		@include responsive-to('lg'){
			grid-column: 3;
			grid-row: 1;
		}
	}

} 