/* Personalización para navegadores Webkit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ajusta el grosor del scrollbar aquí */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.9); /* Color del pulgar del scrollbar (semi-transparente) */
  border-radius: 2px; /* Bordes redondeados del pulgar */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 0.9); /* Color del pulgar cuando se pasa el cursor sobre él (semi-transparente) */
}

/* Personalización para Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Controla el grosor del scrollbar */
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent; /* Color del pulgar y del fondo del scrollbar (semi-transparente) */
}

.custom-scrollbar:hover {
  scrollbar-color: rgba(85, 85, 85, 0.5) transparent; /* Color del pulgar cuando se pasa el cursor sobre él (semi-transparente) */
}
