
/* Personalización para navegadores Webkit (Chrome, Edge, Safari)  EN SCROLL*/
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.9);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 0.9);
}

/* Personalización para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.5) transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: rgba(85, 85, 85, 0.5) transparent;
}

